@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Oswald:wght@300&family=Plus+Jakarta+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=League+Spartan&family=Oswald:wght@300&family=Plus+Jakarta+Sans:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

header{
  margin-top: 10px;
}
body{
	background-image: linear-gradient(90deg, #1b1b1c, #222224, #2a2a2d, #313136, #39393f);
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}

.menu-geral{
	display: flex;
	gap: 20px;

}

.menu-item, .menu-item1{
	font-size: 20px;
	color: #FE7E6D;
	margin-right: 40px;
	font-family: 'Inconsolata', monospace;

}

.menu-item {
  align-items: center;
  background-color: #FE7E6D;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.menu-item1{
  align-items: center;
  background-color: #f7b4ab;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.menu-item:hover,
.menu-item:focus { 
  background-color: #f7b4ab;
  color: #39393f;
}


.menu-item:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.linha {
	border: 1px solid #F3E9DD;
}

.imagem-1{
	width: 140px;
	margin-bottom: 10px;
}

.conteudo-principal{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 200px;
}

.conteudo-principal-imagem{
	justify-content: center;
}

.conteudo-principal-escrito{
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
	

}

.nomes-unidos{
	align-self: center;
}

.estudio{
	font-size: 80px;
	font-family: 'Inconsolata', monospace;
	color: #DADDFC;
	margin-left: 30px;

}
.madeira{
	color: #FC997C;
	font-size: 100px;
	font-family: 'Inconsolata', monospace;
}

h4{
	font-size: 30px;
	font-family: 'Inconsolata', monospace;;
	color: white;

}

.conteudo-principal-escrito-botão {
  align-items: center;
  background-color: #DADDFC;
  border: 2px solid white;
  border-radius: 100px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Inconsolata', monospace;;
  font-size: 20px;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.conteudo-principal-escrito-botão:after {
  background-color: white;
  border-radius: 100px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.conteudo-principal-escrito-botão:hover:after {
  transform: translate(0, 0);
}

.conteudo-principal-escrito-botão:active {
  background-color: #FC997C;
  outline: 0;
}

.conteudo-principal-escrito-botão:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}